
  .edit-phto {
    margin: auto;
    width: 350px;
    background-color: #a05ca0;
    margin-top: 200px;
    border-radius: 10px;
    padding: 5%;
  }
  .hampiditra{
    padding-top: 0%;
    padding-bottom: 10%;
    text-align: center;
  }
  .btn1{
    border-radius: 2px;
    width: 20%;
    height: 30px;
  }
  #fic{
    width: 72%;
    height: 30px;
  }
 