<!DOCTYPE html>
    <html>

        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
            <link rel="shortcut icon" type="image/x-icon" href="public/images/icons/favicon.png" />
            <title>Varotra | Hamandrika</title>
            <link rel="stylesheet" href="{{ url_for('static', filename='public/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ url_for('static', filename='public/css/style.css') }}">
            <link rel="stylesheet" href="{{ url_for('static', filename='public/fonts/ionicons.min.css') }}">
            <link rel="stylesheet" href="{{ url_for('static', filename='public/css/pikaday.min.css') }}">
            <link rel="stylesheet" href="{{ url_for('static', filename='public/css/et-lineicons.css') }}">
            <link rel="stylesheet" href="{{ url_for('static', filename='public/css/font-awesome.css') }}">
            <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
            <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">


            <!--===============================================================================================-->
            <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">
             
            <!--===============================================================================================-->
            <link rel="stylesheet" href="{{ url_for('static', filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
                
            <!--===============================================================================================-->
            <link rel="stylesheet" href="{{ url_for('static', filename='fonts/Linearicons-Free-v1.0.0/icon-font.min.css') }}">
                
            <!--===============================================================================================-->
            <link rel="stylesheet" href="{{ url_for('static', filename='vendor/animate/animate.css') }}">
                
            <!--===============================================================================================-->
            <link rel="stylesheet" href="{{ url_for('static', filename='vendor/css-hamburgers/hamburgers.min.css') }}"> 
               
            <!--===============================================================================================-->
            <link rel="stylesheet" href="{{ url_for('static', filename='vendor/animsition/css/animsition.min.css') }}">
                
            <!--===============================================================================================-->
            <link rel="stylesheet" href="{{ url_for('static', filename='vendor/select2/select2.min.css') }}">
                
            <!--===============================================================================================-->
            <link rel="stylesheet" href="{{ url_for('static', filename='vendor/daterangepicker/daterangepicker.css') }}">
                
            <!--===============================================================================================-->
            <link rel="stylesheet" href="{{ url_for('static', filename='css/util.css') }}">
            <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
            <!--===============================================================================================-->
        </head>
        <style>
            body{
                font-family: Poppins, 'Nimbus Sans', sans-serif;
            }
        </style>

        <body>
    
            <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient" id="accueil">
                <div class="container"><a class="navbar-brand logo" href="/" style="font-size: 35px;" data-scroll-nav="0"><i class="fa fa-cart-plus" style="font-size: 50px !important;"></i> Varotra</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="nav navbar-nav ml-auto">
                        
                        </ul>
                    </div>
                </div>
            </nav>
        
        
            <div class="limiter" style="margin-top: 5%;">
                <div class="container-login100">
                    <div class="wrap-login100">
                        <div class="login100-form-title" style="background-image: url(images/bg-01.jpg);">
                            <span class="login100-form-title-1">
                                Hamandrika
                            </span>
                        </div>
        
                        <form class="login100-form validate-form">
                            <div class="wrap-input100 validate-input m-b-26" data-validate="Tsy maintsy fenoina">
                                <span class="label-input100">Anarany</span>
                                <input class="input100" type="text" name="username" placeholder="Anarany">
                                <span class="focus-input100"></span>
                            </div>
                            
                            <div class="wrap-input100 validate-input m-b-26" data-validate="Tsy maintsy fenoina">
                                <span class="label-input100">Isany</span>
                                <input class="input100" type="text" name="username" placeholder="Isany">
                                <span class="focus-input100"></span>
                            </div>
        
                            <div class="flex-sb-m w-full p-b-30">
                                
                                <div>
                                    <a href="#" class="txt1">
                                        Adino ny tenimiafina
                                    </a>
                                </div>
                            </div>
        
                            <div class="container-login100-form-btn"  href="hiditra.html">
                                <button class="login100-form-btn" href="hiditra.html">
                                    Hamandrika
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        
            <section class="portfolio-block website gradient">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-12 col-lg-5 offset-lg-1 text">
                            <h3>Vokatra tsara indrindra</h3>
                            <p> <u> Bonbon Fruity</u> </p>
                        </div>
                        <div class="col-md-12 col-lg-5">
                            <div class="portfolio-laptop-mockup">
                                <div class="screen">
                                    <div class="screen-content" style="background-image:url(&quot;public/images/jeux/dev.jpg&quot;);"></div>
                                </div>
                                <div class="keyboard"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            
            <!--CONTACT START-->
            <main class="page projects-page" data-scroll-index="2">
                <section class="portfolio-block projects-cards">
                    <div class="container">
                            <div class="heading">
                                    <h2 id="game" class="entcont">Hiresaka aminay</h2>
                                    <p class="text-muted card-text compte"> Raha manana fanontaniana dia aza misalasala miantso anay</p>
                            </div>
                        <div class="row">
                            <div class="offset-md-1 col-md-10">
                                <div class="contact-info mb-md50">
                                    <div class="row">
                                        <div class="col-md-4 mb-50 icon-tel">
                                            <div class="item"> <span class="icon et-phone"></span>
                                                <div class="cont">
                                                    <p>+261320025500</p>
                                                    <p class="pcontact">Finday</p> 
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 mb-50 icon-env">
                                            <div class="item"> <span class="icon et-envelope"></span>
                                                <div class="cont">
                                                    <p>ambatoroka.fsociety@gmail.com</p>
                                                    <p class="pcontact">Email</p> 
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 mb-50 icon-map">
                                            <div class="item"> <span class="icon et-map"></span>
                                                <div class="cont">
                                                    <p>Ambatoroka, Tananarive</p>
                                                    <p class="pcontact">Adiresy</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
            <!--CONTACT END-->


            <!--MAP START-->
            <div class="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6885.106578918147!2d47.54228074004742!3d-18.925922514145277!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMTjCsDU1JzM0LjYiUyA0N8KwMzInMzIuNCJF!5e0!3m2!1sfr!2smg!4v1571832051023!5m2!1sfr!2smg" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </div>
            <!--MAP END-->

            <!--FOOTER START-->
                <footer class="text-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <!-- Footer Logo -->
                                <div class="footer-logo"> 
                                    <img src="" alt="">
                                </div>
                                <!-- Social Media -->
                                <div class="social"> 
                                    <a href="#"><i class="fa fa-facebook-f"></i></a> 
                                    <a href="#"><i class="fa fa-linkedin"></i></a> 
                                    <a href="https://github.com/RSI-Society"><i class="fa fa-github"></i></a>
                                </div>
                                <!-- Copyright -->
                                <p style="color: #fff !important;">Copyright © 2020 by <a href="https://github.com/FoyerSociety">F-Society</a></p>
                            </div>
                        </div>
                    </div>
                </footer>
            <!--FOOTER END-->


            <script src="{{ url_for('static', filename = 'public/js/jquery.min.js') }}"></script>
            <script src="{{ url_for('static', filename = 'public/js/jquery-ui.js') }}"></script>
            <script src="{{ url_for('static', filename = 'public/js/bootstrap.min.js') }}"></script>
            <script src="{{ url_for('static', filename = 'public/js/pikaday.min.js') }}"></script>
            <script src="{{ url_for('static', filename = 'public/js/main.js') }}"></script>
            <script src="{{ url_for('static', filename = 'public/js/theme.js') }}"></script>

            <!-- Script de scroll-->
            <script src="{{ url_for('static', filename = 'public/js/scrollIt.js') }}"></script>
            <script src="{{ url_for('static', filename = 'public/js/scroll/scripts.js') }}"></script>
        
        </body>
    </html>
